
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 20px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Clothshop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/products']">Produits</a>
          <button class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']">Votre panier</a>
          <button class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h3 style="margin-left: 50px;">Bienvenue sur votre page admin</h3>

<div style="margin-left: 50px;">
  <p>Nombre de produits commandés : {{ totalSales }}</p>
  <p>Meilleur produit vendu : {{ mostSoldProduct.name }} (  {{ mostSoldProduct.saled }} fois)</p>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 300px;" scope="col">Produit</th>
        <th style="width: 100px;" scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td>{{ item.name }}</td>
        <td>{{ item.stock }}</td>

      </tr>
    </tbody>
  </table>
</div>

<!-- Bouton global pour ajouter un nouveau produit -->
<button style="margin-bottom: 30px; margin-left: 50px;" class="btn btn-primary" (click)="onAddProduct()">Ajouter un nouveau produit</button>

<div class="card" style="width: 18rem;" *ngFor="let product of products" style="display: flex; flex-direction: row; margin-bottom: 1rem; border: 1px solid #ccc; padding: 1rem; margin-left: 2rem; width: 60%;">
  <div style="display: flex; flex-direction: row;">

    <div>
      <img *ngIf="!product.editMode" [src]="product.urlimage" class="card-img-top" alt="..." style="max-width: 150px; max-height: 150px;">
    </div>
    <div *ngIf="product.editMode">
      <input type="text" [(ngModel)]="product.urlimage" placeholder="URL de l'image" class="form-control" />
    </div>

    <div class="card-body">
      <p *ngIf="!product.editMode" style="font-weight: 700; margin-top: -20px;">{{ product.name }}</p>
      <p *ngIf="!product.editMode" style="text-decoration: underline; margin-top: -10px;">description :</p>
      <p *ngIf="!product.editMode" style="margin-top: -10px; font-size:small;"> {{ product.description }}</p>
      <p *ngIf="!product.editMode" style="margin-top: 50px; margin-bottom: -16px;">Stock : {{ product.stock }}</p>
    </div>
    <div *ngIf="product.editMode">
      <input style="margin-bottom: 20px;" type="text" [(ngModel)]="product.name" placeholder="Nom du produit" class="form-control" />
      <input style="margin-bottom: 20px;" type="text" [(ngModel)]="product.description" placeholder="Description" class="form-control" />
      <input type="number" [(ngModel)]="product.stock" placeholder="Stock" class="form-control" />
    </div>
    <div style="display: flex; flex-direction: column;">
      <p *ngIf="!product.editMode" style="font-size: larger; margin-right: 20px; margin-top: 20px;">{{ product.price }} €</p>
    </div>
    <div *ngIf="product.editMode">
      <input *ngIf="product.editMode" style="margin-left: 20px;" type="number" [(ngModel)]="product.price" placeholder="Prix" class="form-control" />
    </div>
  </div>
  
  <div class="card" style="width: 2rem;" style="display: flex; flex-direction: column; margin-bottom: 1rem; border: 1px solid #ccc; padding: 1rem; margin-left: 4rem; border: none; margin-top: 25px;">
    <button *ngIf="!product.editMode" style="margin-bottom: 10px;" class="btn btn-danger" (click)="deleteProduct(product)">Supprimer</button>
    <button *ngIf="!product.editMode" class="btn btn-success" (click)="product.editMode = true">Éditer</button>
    <button *ngIf="product.editMode" style="margin-bottom: 20px; margin-top: -20px; font-size: small; width: 100px; margin-right: 2rem;" class="btn btn-success" (click)="saveProduct(product)">Sauvegarder</button>
    <button *ngIf="product.editMode" style="font-size: small;" class="btn btn-secondary" (click)="cancelEdit(product)">Annuler</button>
  </div>
  
</div>
  