<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 20px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Clothshop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/admin']">Votre page Admin</a>
          <button class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/products']">Produits</a>
          <button class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="cart-container">
  <h2>Mon Panier</h2> 
</div>

<div style="display: flex; flex-direction: column; align-items: center; margin: auto;">
  <div class="card" style="max-width: 80%;">
    <div class="card-body">
      Voici le résumé de votre commande :
      <table class="table">
        <thead>
          <tr>
            <th style="width: 300px;" scope="col">Produit</th>
            <th style="width: 100px;" scope="col">Quantité</th>
            <th style="width: 100px;" scope="col">Prix</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }} €</td>
            <td>{{ item.product.price *  item.quantity | number:'1.2-2'}} €</td>
          </tr>
        </tbody>
      </table>
      <div class="cart-total">
        <p style="margin-left: 25rem;">Total : {{ getTotal() }} €</p>
      </div>
      <button *ngIf="!isCartValided" type="button" class="btn btn-success" (click)="validateCart()">Valider votre panier</button>
      <p *ngIf="isCartValided">Votre panier est validé, votre commande est en cours</p>
      <p *ngIf="isCartValided">Commande créée le {{ createdAt }}</p>
    </div>
  </div>
</div>

  